*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:  rgb(35, 50, 91);
    
    
    

}

.submit-btn{
    background-color: #23325B;
}


.section-2{
    justify-content: center;
    display: flex;
    flex-direction: row;
 
    
    
}
.contact-container{
    width: 50%;
   
}
.contact-container h3{
    text-align: center;
    margin-bottom: 20px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #23325B;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #2596be;
    
  }
  


  label{
    font-weight: bolder;
  }
  .container {
    border-radius: 5px;
    background-color: #cce5f9;
    padding: 20px;
  }
  .reach{
   
  background-color: #cce5f9;
 
   
  }
  .help{
    margin: 20px 0px 20px 0; 
  }
  .help2{
    height: 100px;
  }
#Contact{

    height: 800px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.quality{
    line-height: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  .table-container h2{
    text-align: center;
    width: 100%;
   
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: lightblue;
  }
.corousel-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    
    z-index: 0;



}
.blank-space{
    width: 100%;
    height: 100vh;


}
.blank-space-1{
    width: 100%;
    height: 50vh;
}

.section-1{

    
   
    width: 100%;
    height: 400px;

}
.row1{
    display: flex;
    width: 100%;
    height: 300px;
   

}



.box1{
  width: 400px;
  border: 2px solid;
  height: 200px;
}

.box2{
    width: 400px;
    border: 2px solid;
    height: 200px;
    
}


.col1 img{
    width: 80%;
}
.col1{
    
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;

}
.col2{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 300px;
    margin-top: 20px;
   
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}


::-webkit-scrollbar {
    width: 10px;
    -webkit-overflow-scrolling: touch;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  
  ::-webkit-scrollbar-thumb {
   
    background: #23325B; 
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: 
    #2596be; 
  }
  
#MyBtn{
    background-color: #23325B;
    font-size: 16px;
    height: 40px;
    color: aliceblue;
    padding: 4px;
    
    border: none;
    margin-top: 12px;
}


.col2-text{
    text-align: center;
    margin: 4px;
    font-size: medium;
    color: #060606;
    overflow-y: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    line-height: 25px;
}
.col2-heading{
    text-align: center;
    margin-bottom: 20px;
}

.footer-text{
   
   
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white !important;
    width: 400px;
   
  
    height: 250px;

    
}

.footer-text div{
    color: white;
}

.footer-container{

    display: flex;
    flex-direction: row;
}


footer{
    display: flex;
    width: 100%;
    height: 300px;
  
    

}

.hamburger{
    display: none;
    
}

.cross{
    display: none;
  }


.footer-container {
    display: flex;
    height: 400px;
    width: 100vb;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    background-color: #23325B;
   
}


.footer-container img{
    width: 100px;
  
   


}

.fconfing{
    color: white;
    
}



.footer-text p{
    color: white;
    
}


  .footer-items{

    
    height: 400px;
    width: 750px;
  }

  .footer-items-1{
  
    
    height: 400px;
    width: 750px;
  }

  .footer-text img{
    width: 40px;

}

.footer-links{
    display: flex;
    flex-direction: column;
    color: white;
 
    height: 350px;
    justify-content: space-between;
    
}
.class-3-text{

    width: 100%;
    justify-content: center;
  
    

    height: 20%;
    display: flex;
    align-items: center;
}

.col3{
    display: flex;
    flex-direction: row;
  
  
    height: 350px;
    width: 350px;
    color: #23325B;

  
}


.row2{
   
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.section-1{
    height: auto;
    width: 100%;
}
.footer-text div{
    display: flex;
    flex-direction: row;
    color: white;

}

.footer-text div span{
    font-size: 14px!important;
    align-items: center;
    display: flex;
    padding-left: 12px;
    color: white;

}


  

  
  
  /* Position the image container (needed to position the left and right arrows) */
  .img-container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: white;
    padding: 2px 16px;
    color: #23325B;
  }
  
  img {
    vertical-align: middle;
  }
  
  .row4:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column4 {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }


 @media only screen and (min-width: 797px){
    .mySlides img{
        width: 50% !important;
        margin-left: 20%;
        
    }
  
 }






@media only screen and (max-width: 797px){
    .blank-space{
        height: 420px;
      
       
    }
    .footer-container{
        flex-direction: column;
        height: 600px;
        overflow-x: hidden;

     
        

    }
    .col3{
        margin-top: 20px;
      
    }

    .row2{
        display: flex;
        flex-direction: column;
        height: 500px;
        align-items: right;
        width: 100%;
     
        justify-content: start;
    }
    
.section-1{

    
   
    width: 100%;
    height: 550px;

}


    .footer-text img{
        width: 20px;

    }


    .footer-text p{
        color:  white;
        font-weight: bolder;
    }

    .footer-text{
        width: 65%;
        height: 400px;
    }

 
      

    .footer-items{
        width: 100vw;
        height: 1200px;
        text-align: start;

        
    }


    .footer-items-1{
        width: 100vw;
        height: 1200px;
        text-align: start;

        
    }


    /* .footer-container img{
        width: 100px;
      
       
    
    
    } */

    .col2-text{
        text-align: center;
        margin: 4px;
        font-size: smaller;
        color: #060606;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    p{
        line-height: 25px;
    }

    .row1{
        flex-direction: column;
    }

    .col1{
        display: block;
        text-align: center;
    }

    .contact-container{
        width: 100%;
       
    }
   
}