*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color:  rgb(35, 50, 91);
    
    
    

}




.corousel-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    
    z-index: 0;



}
.blank-space{
    width: 100%;
    height: 100vh;


}

.section-1{

    
   
    width: 100%;
    height: 400px;

}
.row1{
    display: flex;
    width: 100%;
    height: 300px;
   

}



.box1{
  width: 400px;
  border: 2px solid;
  height: 200px;
}

.box2{
    width: 400px;
    border: 2px solid;
    height: 200px;
    
}


.col1 img{
    width: 80%;
}
.col1{
    
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;

}
.col2{
    display: flex;
    width: 100%;
    flex-direction: column;
    height: 300px;
    margin-top: 20px;
   
    font-family: sans-serif, "Lato";
    
}


::-webkit-scrollbar {
    width: 10px;
    -webkit-overflow-scrolling: touch;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  
  ::-webkit-scrollbar-thumb {
   
    background: #23325B; 
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: 
    #2596be; 
  }
  
#MyBtn{
    background-color: #23325B;
    font-size: 16px;
    color: aliceblue;
    padding: 4px;
    border-radius: 14px 14px 14px 14px;
    border: none;
    margin-top: 2px;
}


.col2-text{
    text-align: center;
    margin: 4px;
    font-size: medium;
    color: #060606;
    overflow-y: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

p{
    line-height: 25px;
}
.col2-heading{
    text-align: center;
    margin-bottom: 20px;
}

.footer-text{
   
   
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: white !important;
    width: 400px;
   
  
    height: 250px;

    
}

.footer-text div{
    color: white;
}

.footer-container{

    display: flex;
    flex-direction: row;
}


footer{
    display: flex;
    width: 100%;
    height: 300px;
  
    

}

.hamburger{
    display: none;
    
}

.cross{
    display: none;
  }


.footer-container {
    display: flex;
    height: 400px;
    width: 100vb;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: start;
    background-color: #23325B;
   
}


.footer-container img{
    width: 100px;
  
   


}

.fconfing{
    color: white;
    
}



.footer-text p{
    color: white;
    
}


  .footer-items{

    
    height: 400px;
    width: 750px;
  }

  .footer-items-1{
  
    
    height: 400px;
    width: 750px;
  }

  .footer-text img{
    width: 40px;

}

.footer-links{
    display: flex;
    flex-direction: column;
    color: white;
 
    height: 350px;
    justify-content: space-between;
    
}
.class-3-text{

    width: 100%;
    justify-content: center;
  
    

    height: 20%;
    display: flex;
    align-items: center;
}

.col3{
    display: flex;
    flex-direction: row;
  
  
    height: 350px;
    width: 350px;
    color: #23325B;

  
}


.row2{
   
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}


  


@media only screen and (max-width: 797px){
    .blank-space{
        height: 420px;
      
       
    }
    .footer-container{
        flex-direction: column;
        height: 600px;
        overflow-x: hidden;

     
        

    }
    .col3{
        margin-top: 20px;
      
    }

    .row2{
        display: flex;
        flex-direction: column;
        height: 500px;
        align-items: right;
        width: 100%;
     
        justify-content: start;
    }
    
.section-1{

    
   
    width: 100%;
    height: 550px;

}


    .footer-text img{
        width: 20px;

    }


    .footer-text p{
        color:  white;
        font-weight: bolder;
    }

    .footer-text{
        width: 65%;
        height: 400px;
    }

 
      

    .footer-items{
        width: 100vw;
        height: 1200px;
        text-align: start;

        
    }


    .footer-items-1{
        width: 100vw;
        height: 1200px;
        text-align: start;

        
    }


    /* .footer-container img{
        width: 100px;
      
       
    
    
    } */

    .col2-text{
        text-align: center;
        margin: 4px;
        font-size: smaller;
        color: #060606;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    p{
        line-height: 20px;
    }

    .row1{
        flex-direction: column;
    }

    .col1{
        display: block;
        text-align: center;
    }

   
}